#help_link {
  font-weight: bold;
  color: white;
}

.main-header .logo {
  overflow-y: auto;
}

.form-first-row {
  height: 100px;
}
.cancel-margin > .form-group {
  margin: 0;
}

.ht_master table.htCore > tbody td {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.htAutocompleteArrow {
  position: absolute;
  right: 0;
}

#main_plot_outer {
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
}

#doseTableHTML, #doseTableHTML .handsontable, #doseTableHTML .wtHolder {
  height: auto !important;
  overflow-x: hidden;
}

#debug_area {
  background: #444;
  color: #eee;
}

#logContent, #profiling {
  margin-top: 8px;
  background-color: #555;
  color: #eee;
  font-size: 10px;
  overflow-y: scroll;
  height: 150px;
  padding: 5px 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

.debug_section_head {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.inline_ui {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

#profiler_threshold, #debug_level {
  height: 20px;
  padding: 0 5px;
  font-size: 14px;
}

.no-spinners ::-webkit-outer-spin-button,
.no-spinners ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinners [type=number] {
  -moz-appearance: textfield;
}
