.btn.disabled {
  cursor: not-allowed;
  pointer-events: auto;
}

.handsontableEditor .handsontable td {
  background: #f0f0f0;
}
.handsontable.listbox tr:hover td, .handsontable.listbox tr td.current {
  background: #ddd;
}

/* fix a bug where inside a fillable container, the input goes to the end of
the screen https://github.com/handsontable/handsontable/issues/3815 */
.handsontable textarea {
  width: 0 !important;
}

.accordion-button {
  background: #f8f8f8;
}

.no-spinners ::-webkit-outer-spin-button,
.no-spinners ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinners [type=number] {
  -moz-appearance: textfield;
}

.inline_ui {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.navbar-header .title-long {
  max-width: 600px;
  display: inline-block;
  white-space: normal;
  overflow-y: auto;
  max-height: 1.5em;
  vertical-align: middle;
}

#doseTableHTML, #doseTableHTML .handsontable, #doseTableHTML .wtHolder {
  overflow-x: hidden;
}

#dosetable_apply {
  width: 100%;
  margin: -5px 0 10px;
  color: white;
}

#dosetable_apply[disabled] {
  background: #b7c0c9;
  border-color: #ccc;
  color: #444;
}

#dosetable_undo[disabled],
#dosetable_redo[disabled] {
  background: #ddd;
  border-color: #eee;
  color: #777;
}

#editPriorDosesTable {
  font-size: 0.8em;
}

.debug_section_head {
  font-size: 18px;
  font-weight: bold;
}

#logContent, #profiling {
  margin-top: 8px;
  background-color: #555;
  color: #eee;
  font-size: 10px;
  overflow-y: scroll;
  height: 150px;
  padding: 5px 15px;
}

#profiler_threshold, #debug_level {
  height: 20px;
  padding: 0 5px;
  font-size: 14px;
}
