#help_link {
  font-weight: bold;
  color: white;
}

.main-header .logo {
  overflow-y: auto;
}

.ht_master table.htCore > tbody td {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.htAutocompleteArrow {
  position: absolute;
  right: 0;
}

.radio-inline+.radio-inline {
  margin-left: 20px;
}

#main_plot_outer {
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
}

#doseTableHTML, #doseTableHTML .handsontable, #doseTableHTML .wtHolder {
  height: auto !important;
  overflow-x: hidden;
}

.handsontableEditor .handsontable td {
  background: #f0f0f0;
}

.handsontable.listbox tr:hover td, .handsontable.listbox tr td.current {
  background: #ddd;
}

#debug_area {
  background: #444;
  color: #eee;
}

#logContent, #profiling {
  margin-top: 8px;
  background-color: #555;
  color: #eee;
  font-size: 10px;
  overflow-y: scroll;
  height: 150px;
  padding: 5px 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

.debug_section_head {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.inline_ui {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

#profiler_threshold, #debug_level {
  height: 20px;
  padding: 0 5px;
  font-size: 14px;
}

.no-spinners ::-webkit-outer-spin-button,
.no-spinners ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinners [type=number] {
  -moz-appearance: textfield;
}

#dosetable_apply {
  width: 100%;
  margin: -5px 0 10px;
  color: white;
}

#dosetable_apply[disabled] {
  background: #b7c0c9;
  border-color: #ccc;
  color: #444;
}

.input-with-choices {
  margin-left: 4px;
}
.input-with-choices .main-input {
  left: -4px;
  border-radius: 4px !important;
}
.input-with-choices .input-group-btn {
  font-size: 1.4rem;
}
.input-with-choices .input-group-btn .form-group {
  margin-bottom: 0;
}
.input-with-choices .input-group-btn .radio-inline {
  padding: 0;
  margin: 0;
  margin-left: -3px;
}
.input-with-choices .input-group-btn .radio-inline:first-child {
  margin-left: 0;
}

.input-with-choices .input-group-btn input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
}

.input-with-choices .input-group-btn input[type="radio"]:checked + span {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.input-with-choices .input-group-btn .radio-inline span {
  display: inline-block;
  padding: 6px 12px 5px 12px;
  background: #ffffff;
  border: 1px solid #ced4da;
  color: #495057;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.input-with-choices .input-group-btn .radio-inline:first-child span {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.input-with-choices .input-group-btn .radio-inline:last-child span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-with-choices .input-group-btn input[type="radio"]:focus + span {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-with-choices .input-group-btn .radio-inline span:hover {
  background-color: #f8f9fa;
  border-color: #b8c2cc;
  color: #0056b3;
}

.input-with-choices .input-group-btn input[type="radio"]:checked + span:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.input-with-choices .input-group-btn .radio-inline span:active {
  background-color: #dae0e5;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
