#help_link {
  font-weight: bold;
  color: white;
}

.main-header .logo {
  overflow-y: auto;
}

#logSection {
  background-color: transparent;
  color: black;
  border-style: solid;
  font-size:10px;
  overflow-y:scroll;
  max-height: 100px;
}

.form-first-row {
  height: 100px;
}
.cancel-margin > .form-group {
  margin: 0;
}

.ht_master table.htCore > tbody td {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.htAutocompleteArrow {
  position: absolute;
  right: 0;
}

#sentPlot > img {
  height: 100%;
}
